In [11]:
from fer import FER
from fer import Video
import pandas as pd

In [12]:
emotion_detector = FER(mtcnn=True)

In [13]:
# Define the path to video

path_to_video = "manas-try.mp4"

# Define video 

video = Video(path_to_video)

In [15]:
result = video.analyze(emotion_detector, display=True)

INFO:fer:30.00 fps, 87 frames, 2.90 seconds
INFO:fer:Making directories at output

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 87/87 [00:19<00:00,  4.36frames/s]
INFO:fer:Completed analysis: saved to output\manas-try_output.mp4
INFO:fer:Starting to Zip
INFO:fer:Compressing: 57%
INFO:fer:Zip has finished

In [16]:
emotions_df = video.to_pandas(result)
emotions_df.head()

                    box  angry  disgust  fear  happy  sad  surprise  neutral
0  [244, 102, 203, 236]   0.00      0.0   0.0   0.99  0.0      0.00     0.00
1  [244, 104, 201, 236]   0.01      0.0   0.0   0.97  0.0      0.01     0.01
2  [244, 106, 199, 233]   0.01      0.0   0.0   0.97  0.0      0.01     0.01
3  [240, 102, 201, 235]   0.00      0.0   0.0   0.99  0.0      0.00     0.00
4  [241, 103, 202, 237]   0.00      0.0   0.0   0.99  0.0      0.00     0.00

In [17]:
positive_emotions = sum(emotions_df.happy) + sum(emotions_df.surprise)
negative_emotions = sum(emotions_df.angry) + sum(emotions_df.disgust) + sum(emotions_df.fear) + sum(emotions_df.sad)
print(positive_emotions,negative_emotions)

69.16 0.2700000000000001